html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Comic Sans MS", serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.meme {
    display: none;
}

.meme ~ label .memeImage, .meme ~ label .x, .meme ~ label .arrow {
    display: none;
}

.meme:checked ~ label .memeImage  {
    display: block;
    animation: fade .7s;
}

.meme:checked ~ label {
    color: blue;
}

.memeImage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 70vh;
    padding: 2vh 0 3vh 0;
    transition: opacity 2s;
}
.memeWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    border-top: darkgray solid;
}
.label {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 4vh;
    padding: .5vh 0 .5vh 0;
}
.arrow {
    display: inline-flex;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes close {
    from {opacity: 0}
    to {opacity: 0.7}
}

    .memeWrapper {
        width: 100vw;
    }
    .headline {
        width: 100vw;
        font-size: 3vh;
    }
    .label {
        font-size: 2vh;
    }
    .memeImage {
        padding: 1vh 0 1vh 0;
        height: 50vh;
    }

@media (min-width: 768px) {
   /* .memeWrapper {
        width: 100vw;
    }
    .headline {
        width: 100vw;
        font-size: 4vh;
    }*/
    .label {
        font-size: 3vh;
    }
    .memeImage {
        padding: 1vh 0 1vh 0;
        height: 80vh;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .content:hover label .arrow {
        display: inline-flex;
        animation: fade 0.5s;
    }
    .content:hover label {
        cursor: pointer;
    }
    .meme:hover label .arrow{
        display: inline-flex;
    }
    .meme:hover ~ label .arrow {
        display: none;
    }
    .meme:hover ~ label .memeImage  {
        display: block;
        animation: fade .7s;
    }
    .meme:hover ~ label .x {
        display: inline-flex;
        opacity: 0.7;
        animation: close 0.5s;
    }
    .meme:checked ~ label .arrow {
        display: none;
    }
    .content:hover label {
        color: black;
    }
    .content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
    .memeWrapper {
        width: 50vw;
    }
    .headline {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        font-weight: normal;
        font-size: 5vh;
        padding: .5vh 0 .5vh 0;
    }

}
