html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Comic Sans MS", serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.meme {
    display: none;
}

.meme ~ label .memeImage, .meme ~ label .x {
    display: none;
}

.meme:checked ~ label .arrow {
    display: none;
}
.meme:checked ~ label .memeImage  {
    display: block;
}

.meme:checked ~ label .x {
    display: inline-flex;
    opacity: 0.75;
}
.meme:checked ~ label {
    color: blue;
}
.memeImage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 70vh;
    padding: 2vh 0 3vh 0;
}
.memeWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    border-top: darkgray solid;
}
.label {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 3vh;
}
.arrow {
    display: inline-flex;
}
.headline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    font-weight: normal;
    font-size: 4vh;
}
